@font-face {
  font-family: 'Gilroy ExtraBold';
  src: url(fonts/gilroyextrabold.woff2) format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(fonts/gilroylight.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

* {
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

*:focus {outline: none;}

body {
  font-family: 'Gilroy ExtraBold', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  padding: 0;
  margin: 0 auto;
  width: 1160px;
}

a {text-decoration: none;}
h1, h2, h3, h4, b, dl, dd {margin: 0; padding: 0;}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.column-left {float: left;}
.column-right {float: right;}
.column {width: 560px;}
.main-container {margin-bottom: 80px; height: 580px; padding-top: 60px;}
.container.footer-navigation {padding: 60px 0; height: 325px;}

/*КНОПКА*/

button {all: unset;}

.button {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  width: 220px;
  height: 40px;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  z-index: 0;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(255, 204, 0);
  width: 220px;
  height: 8px;
  bottom: 25px;
  z-index: -1;
}

button.button::after {bottom: 16px;}

.button:hover::after,
.button:focus::after  {
  height: 40px;
  bottom: 7px;
}

button.button:hover::after,
button.button:focus::after {
  bottom: -2px;
}

.button:active {color: rgba(0, 0, 0, 0.3);}

/*КНОПКА В СЕРВИСАХ*/
.services__item .button, 
.services__item .button::after {width: 160px;}

.services__item .button:active {color: rgb(247, 225, 132);}
.services__item .button:active::after {
  width: 278px;
  background-color: black;
}

/*КНОПКА В О НАС И КОНТАКТЫ*/
.main-container .button {font-size: 16px;}
.main-container .button::after {bottom: 27px;}
.main-container .button:hover::after, .main-container .button:focus::after {bottom: 10px;}

/*КНОПКА В ТОВАРАХ*/
.good__item_hover .button {width: 100%;}
.good__item_hover .button::after {left: 66px;}


/*ИКОНКИ В МЕНЮ ПОЛЬЗОВАТЕЛЯ*/

.header-navigation__user-item a,
.footer-navigation__user-item a {position: relative;}

.header-navigation__user-item a::before,
.footer-navigation__user-item a::before {
  content: "";
  position: absolute;
  display: block;
  height: 13px;
  width: 13px;
  top: 4px;
  left: -27px;
  background-repeat: no-repeat;
  background-position: center;
}

.header-navigation__user-item__login a::before,
.footer-navigation__user-item__login a::before {background-image: url(img/icons/user-menu/login.svg);}

.header-navigation__user-item__compare a::before,
.footer-navigation__user-item__compare a::before {background-image: url(img/icons/user-menu/compare.svg);}

.header-navigation__user-item__cart a::before,
.footer-navigation__user-item__cart a::before {background-image: url(img/icons/user-menu/cart.svg);}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*.bg-color-header {
  background-color: #f7e296;
  width: 1160px;
  height: 300px;
  position: absolute;
  z-index: -1;
  top: 40px;
}*/

/*ШАПКА*/

header {
  margin-top: 40px;
  margin-bottom: 45px;
  padding-top: 40px;
  padding-left: 60px;
  width: 1160px;
  height: 186px;
  background-color: #f7e296;
  position: relative;
}

header a{
  text-transform: uppercase;
  color: black;
}

header a:hover,
header a:focus {opacity: 0.6;}
header a:active {opacity: 0.3;} 

header ul {
list-style: none;
padding: 0;
margin: 0;
}

#logo,
.logo {
  font-size: 48px;
  line-height: 34px;
}
#logo {position: absolute; top: -18px}

.header-navigation__user,
.header-navigation__site {height: 50px; pa}
.search-form,
.header-navigation__user-list, 
.header-navigation__site__goods-list,
.header-navigation__site__services-list {display: inline-block;}

.search-form,
.header-navigation__site__goods-list {float: left;}

.header-navigation__user-list,
.header-navigation__site__services-list {float: right;}

.header-navigation__user-item,
.header-navigation__services-item {
  display: inline;
}

.header-navigation__user-list a{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 15px;
}

.search__input {
  background-color: transparent;
  border: 0;
  color: rgba(0, 0, 0, 0.3);
  height: 48px;
  width: 356px;
}
.search__input::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.3);} 
.search__input::-moz-placeholder {color: rgba(0, 0, 0, 0.3);}

.search__input:hover {color: rgba(0, 0, 0, 0.6);}
.search__input:hover::-moz-placeholder {color: rgba(0, 0, 0, 0.6);}
.search__input:hover::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.6);}

.search__input:focus {border-bottom: 2px solid black;}

.search__button {
  margin-left: 0;
  background-color: transparent;
  border: 2px solid black;
  padding: 15px;
  height: 50px;
  color: black;
  display: none;
}

.search__input:focus + .search__button {display: inline-block;}

.search__button:hover {
  background-color: black;
  color: rgba(255, 255, 255, 1);
}

.search__button:active,
.search__button:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.3);}

.header-navigation__catalog-list {
  display: none;
  width: 1160px;
  height: 187px;
  position: absolute;
  left: 0;
  background-color: #f7e296;
  z-index: 1;
  padding-top: 30px;
  padding-left: 60px;
}

.catalog-item_column {
  display: inline-block;
  width: 180px;
  height: 100px;
  vertical-align: top;
  margin: 0;
  margin-right: 55px;
}

.catalog-item_column:nth-last-of-type(2) {width: 125px;}
.catalog-item_column:last-of-type {
  width: 112px;
  margin-right: 0;
}

.header-navigation__catalog-list a{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
}

.header-navigation__goods-item__catalog:hover .header-navigation__catalog-list {
  display: block;
}

/*ОСНОВНОЕ СОДЕРЖАНИЕ*/
main {width: 1160px;}

/*СЛАЙДЕР*/

.good__number {
  position: absolute;
  top: -25px;
  right: 40px;
  font-size: 179px;
  line-height: 120px;
  color: white;
  z-index: -1;
}

.slider-promo__good {
  height: inherit;
  position: relative;

}
.slider-promo__good-2,
.slider-promo__good-3 {
  display: none;
}
.slider-promo__good__description {  padding-top: 80px;}
.slider-promo__good__description b {
  font-size: 47px;
  line-height: 56px;
  width: 395px;
}

.slider-promo__good__description p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  font-weight: 300;
}

.slider-promo__good__feature b,
.slider-promo__good__feature tr {
  font-family: 'Giltoy', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 36px;
}

.slider-promo__good__feature th,
.slider-promo__good__feature span {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.slider-promo {
  width: 100%;
  height: 500px;
  margin-bottom: 80px;
}

/*КАТЕГОРИИ ТОВАРОВ*/

.catalog-categories__list {
  list-style: none;
  height: 240px;
  margin: 0;
  padding: 0;
}

.catalog-categories__item {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  width: 160px;
  height: 240px;
  margin-right: 40px;
}

.catalog-categories__item:last-of-type {margin-right: 0;}

.catalog-categories__item a {color: black;}

.catalog-categories__item figure{
  padding: 0;
  margin: 0;
  width: 160px;
  height: 240px;
}
.catalog-categories__item figcaption {
  background-color: white;
  height: 80px;
  text-align: left;
  font-size: 16px;
  padding-top: 38px;
}

.item-img_bg-color {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  position: relative;
}

.item-img_bg-color img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog-categories__item a:hover .item-img_bg-color,
.catalog-categories__item a:focus .item-img_bg-color {
  background-color: #ffc600;
}

.catalog-categories__item a:active .item-img_bg-color img,
.catalog-categories__item a:active figcaption {
  opacity: 0.3;
}

.catalog-categories {margin-bottom: 80px;}

/*СЕРВИСЫ*/

.services {
  width: 100%;
  height: 370px;
  margin-bottom: 80px;
}

.bg-color-services {
  background-color: #e5e5e5;
  width: 100%;
  height: 288px;
  position: relative;
  z-index: -1;
  top: 100px;
}

.services__list {
  width: 284px;
  height: 320px;
  margin: 0;
  padding: 80px 0;
  border-right: 7px solid black;
  list-style: none;
}

.services__item {
  margin-bottom: 24px;
  height: 40px;
  width: 278px;
}

.services__item:last-of-type {margin-bottom: 0;}


.services__description {
  width: 760px; 
  height: 200px;
  margin-top: 70px;
}

.services__description h3 {
font-size: 47px;
line-height: 48px;
margin-bottom: 40px;
}

.services__description p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  width: 435px;
  margin: 0;
}

.services__description::before {
  content: "";
  display: block;
  float: right;
  position: relative;
  width: 200px;
  height: 200px;
  right: 70px;
}

.services__description__delivery::before {
  background-image: url(img/icons/services/1_delivery.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.services__description__warranty::before {
  background-image: url(img/icons/services/2_warranty.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.services__description__credit::before {
  background-image: url(img/icons/services/3_credit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.services__description__warranty,
.services__description__credit {display: none;}

/*Бренды*/

.brands__list {
  list-style: none;
}

.brands__item {
  display: inline-block;
  position: relative;
}

.brands__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.brands__item:nth-of-type(1):hover::before {background-image: url(img/parthers/dji-_1_hover.png);}
.brands__item:nth-of-type(2):hover::before {background-image: url(img/parthers/sp-ggts_2_hover.png);}
.brands__item:nth-of-type(3):hover::before {background-image: url(img/parthers/go-pro_3_hover.png);}
.brands__item:nth-of-type(4):hover::before {background-image: url(img/parthers/vive_4_hover.png);}

.brands {margin-bottom: 80px;}

/*О НАС И КОНТАКТЫ*/

.about-us, .contacts {display: inline-block; position: relative;}
.about-us h3, .contacts h3 {font-size: 47px; margin-bottom: 60px;}
.about-us p, .contacts p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 40px;
}

.about-us::before, .contacts::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  top: -53px;
  background-color: black;
}

.about-us ul {
  list-style: url(img/icons/slider-button.png); 
  margin: 0;
  margin-top: 46px;
  margin-bottom: 81px;
  padding: 0;
  padding-left: 16px;
}

.about-us li {
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-left: 25px;
  margin-bottom: 27px;
}

.about-us li:last-of-type {margin-bottom: 0;}

.contacts img {margin-bottom: 80px;}


/*КАТАЛОГ*/
.catalog a {color: black;}
.catalog fieldset {margin: 0; padding: 0; border: none}
.catalog ul {list-style: none; margin: 0; padding: 0;}
.catalog form {font-size: 18px; line-height: 24px;}
.filters__form li {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
}
.goods figure {margin: 0; padding: 0;}

.catalog-nav__item, .sort-type__item, .pages__item, .price__item {display: inline;}
.goods__item {display: inline-block;}

/*ХЛЕБНЫЕ КРОШКИ*/
.catalog-nav {
  width: 1160px;
  padding-left: 60px;
  margin-bottom: 53px;
}
.catalog-nav h2 {
  font-size: 47px;
  line-height: 48px;
  margin-bottom: 40px;
}

.catalog-nav__item a {opacity: 0.3;}
.catalog-nav__item a:hover,
.catalog-nav__item a:focus {opacity: 1;}

.catalog-nav__item a:active {opacity: 0.7;}

.catalog-nav__item {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-right: 40px;
  position: relative;
}

.catalog-nav__item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  display: block;
  height: 7px;
  width: 4px;
  top: 7px;
  right: -24px;
  background-image: url(img/icons/nav-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/*ФИЛЬТРЫ СЛЕВА*/
.catalog-filtres { 
  height: 1245px;
  padding-left: 60px;
  background-color: #efefef;
}

.filtres__name {
  display: inline-block;
  height: 70px;
  width: 270px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0;
  padding-top: 23px;
  margin-bottom: 70px;
  text-align: left;
  /*background-color: #dbdbdb;*/
}

fieldset.filter {
  display: block;
  width: 200px;
  position: relative;
  padding-top: 15px;
  border-top: 2px solid black;
  margin-bottom: 40px;
}

legend.filter__name {
  display: block; 
  float:left; 
  width: 200px;
  margin-bottom: 20px;
}

.color__item label, .bluetooth__item label {padding-left: 40px;}

.color__label, .bluetooth__label {position: relative;}

.color__label::after,
.bluetooth__label::after {
  content: "";
  position: absolute;
  display: block;
  left: -40px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.color__label::after {
  top: -2px;
  background-image: url(img/icons/filtres/checkbox-off.svg);
}

.bluetooth__label::after {
  top: -3px;
  background-image: url(img/icons/filtres/radio-off.svg);}


.color__input:checked + .color__label::after  {
  width: 27px;
  left: -39px;
  background-image: url(img/icons/filtres/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: center;;
}

.bluetooth__input:checked + .bluetooth__label::after {background-image: url(img/icons/filtres/radio-on.svg);}


.goods-catalog {
  width: 830px; 
  padding-left: 70px;
  background-color: white;
  position: relative;
}


/*ФИЛЬТРЫ В ЦЕНТРЕ*/
.goods-catalog__sort-type {
  height: 70px;
  background-color: #ebebeb;
  margin-bottom: 70px;
}
.goods-catalog .filtres__name {
  width: 153px;
  margin-bottom: 0;
  margin-right: 55px;
}

.sort-type__list {

  display: inline-block;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.sort-type__item a {opacity: 0.2;}
.sort-type__item a:hover {opacity: 0.4;}
.sort-type__item a:active {opacity: 1;}

.sort-type__item {margin-right: 30px;}

.sort-type__sort-arrow {position: absolute; right: 0; top: 24px;}

.sort-type__to-increase {
  display: inline-block;
  opacity: 0.2;
  width: 0;
  height: 0;
  margin-right: 20px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
}

.sort-type__to-decrease {
  display: inline-block;
  opacity: 0.2;
  width: 0; 
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
}

.sort-type__to-increase:hover,
.sort-type__to-decrease:hover {opacity: 0.4;}

.sort-type__to-increase:active,
.sort-type__to-decrease:active {opacity: 1;}

/*ТОВАРЫ*/
.goods {margin-bottom: 40px;}
.goods__item:nth-of-type(2n+1) {margin-right: 40px;}
.goods__item:nth-of-type(1),
.goods__item:nth-of-type(2) {margin-bottom: 50px;}

.goods__item {position: relative;}

.good__item_hover {
  position: absolute;
  display: none;
  padding-top: 152px;
  top: 0;
  height: 380px;
  width: 360px;
  background-color: rgba(238, 238, 238, 0.7);
}
.goods__item:hover .good__item_hover {display: block;}

.good__item_hover span {
  display: block;
  opacity: 0.4;
  width: 100%;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  text-align: center;
}

.good__item_hover span:hover {opacity: 1;}
.good__item_hover span:active {opacity: 0.2;}

.item__features {
  position: relative;
  height: 48px;
  margin-top: 40px;
}
.item__features dt {
  position: absolute; 
  left: 0
}

.item__features dd {
  position: absolute; 
  right: 0; 
  font-family: 'Gilroy'; 
  font-size: 16px; 
  font-weight: 300;
}


.goods__item__info:hover::after {display: block;}
/*СТРАНИЦЫ*/
.pages {
  height: 70px;
  width: 760px;
  position: relative;
  background-color: #efefef;
}

.pages__scroll, .pages__list {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.pages__scroll {
  padding-top: 23px;
  width: 126px;
  height: inherit;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.pages__scroll__back {left: 0;}
.pages__scroll__forward {right: 0;}

.pages__scroll:hover, 
.pages__scroll:focus {background-color: #d9d9d9;}

.pages__scroll:active span {opacity: 0.3;}

.pages__list {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pages__item {
 opacity: 0.2;
 margin-right: 30px;
}
.pages__item:last-of-type {margin-right: 0;}

.pages__item:hover {opacity: 0.4;}
.pages__item:active {opacity: 1;}



/*ПОДВАЛ*/
footer {
  background-color: #464646;
  color: white;
}

footer a {color: white;}

.footer-navigation__user-list a {opacity: 0.7;}
.social__list a {opacity: 0.3;}

footer a:hover,
footer a:focus {opacity: 0.6;}
.footer-navigation__user-list a:hover,
.footer-navigation__user-list a:focus {opacity: 1;}
.social__list a:hover,
.social__list a:focus {opacity: 0,7;}

footer a:active, 
.footer-navigation__user-list a:active {opacity: 0.3;}
.social__list a:active {opacity: 0.1;}

footer .logo {
  text-transform: uppercase;
  color: #ffc600;
}
.footer-navigation__user {margin-bottom: 40px;}
.footer-navigation__user-list a{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-transform: none;
  font-size: 15px;
}

.footer-navigation__site-list {text-transform: uppercase;}

.footer-navigation p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.footer-navigation a,
.footer-navigation ul,
.footer-navigation li,
.footer-navigation p {display: inline-block;}

.footer-navigation__user-list, .footer-navigation__phone, .social__studio {float: right;}

.footer-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social {height: 32px;}

.footer-navigation__site {margin-bottom: 60px;}

.footer-navigation__site, .social {position: relative;}

.footer-navigation__site-list,
.social__list {
  position: absolute;
  height: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-navigation__user-item:not(:first-of-type) {margin-left: 65px;}
.footer-navigation__site-item:not(:first-of-type) {margin-left: 40px;}
.social__item:not(:first-of-type) {margin-left: 25px;}

.social__link {
  height: 32px;
  width: 32px;
}

.social__link_fb {background: url(img/icons/social/fb.svg) no-repeat center;}

.social__link_inst {background: url(img/icons/social/inst.svg) no-repeat center;}

.social__link_twtr {background: url(img/icons/social/twitter.svg) no-repeat center;}

.social__studio {
  height: 32px;
  width: 32px;
  background: url(img/icons/logo.svg) no-repeat center;
  background-size: cover;
}